<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đổi Mật Khẩu</title>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    
    <form name="frm" class="col-8 border border-dark p-3 m-auto" action="/doimatkhau" method="POST">
      <h3 class="text-center">Đổi Mật Khẩu</h3>
      <input type="hidden" value="<%= data.idUser %>" name="idUser">
      <div class="form-group">
        <label class="username">Username</label>
        <input
          class="form-control bg-info"
          type="text"
          name="username"
          id="username"
          value="<%= data.username %>"
        />
      </div>
      <div class="form-group">
        <label class="password_old">Mật Khẩu Cũ</label>
        <input
          class="form-control bg-info"
          type="password"
          name="password_old"
          id="password_old"
        />
      </div>
      <div class="form-group">
        <label class="password_new">Mật Khẩu Mới</label>
        <input
          class="form-control bg-warning"
          type="password"
          name="password_new"
          id="password_new"
        />
      </div>
      <div class="form-group">
        <label class="re_password">Nhập lại</label>
        <input class="form-control bg-info" name="re_password" id="re_password" type="password" />
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-danger py-2 px-4">Cập Nhật</button>
      </div>
      <div class="form-group mt-3">
        <button type="button" class="btn btn-danger py-2 px-4"><a href="/user_infor" style="text-decoration: none; color: white;">Quay Lại</a></button>
      </div>
    </form>
  </body>
</html>
